header{
    width:100%;
    text-align:center;
}

main{
    width:100%;

}

#nbrPlayer{
    width:90%;
    padding:5px;
    box-sizing:border-box;
    margin: auto;
}

#set_player:hover{
    background-color:rgba(214, 214, 215, 0.801);
    transition:3s;
}

#affNbrplayer{
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
    margin: auto;
    font-size:  1.5em;
    font-weight: bold;
    text-align: center;
}

#Score{
    display: flex;
    justify-content:space-between;
    width: 50%;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5em;
}

#table{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5em;
    text-align: center;
}

#table table{
    width:50%;
    background-color: rgba(255, 227, 196, 0.664);
    border-radius: 10% / 30%;
    box-shadow: 13px 11px 92px -20px #FFBC42; 
}

table thead{
    background-color: rgba(155, 127, 96, 0.664);
    border-radius: 20px;
}

table tfoot{
    background-color: rgba(228, 41, 97, 0.623);
    border-radius: 20px;
}